.container {
  width: 1140px;
  max-width: 100%;
  margin: auto;
}

.loginForm {
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
}

.iframe {
  width: 100%;
}
